table{
  border-collapse: collapse; /* Отображать двойные линии как одинарные */

  th,
  td {
    border-color: silver;
  }

  thead {
    background-color: silver;
    font-size: small;
    font-style: normal;
  }

  tbody {
    font-size: medium;
    text-align: center;
  }

  .tddescr {
    font-size: small;
    text-align: left;
  }

  .regidf2 {
    margin: 0px;
    font-size: x-small;
    font-style: normal;
    font-weight: bold;
    text-align: left;
  }

  .bb{
    border-bottom: 1px solid black;
  }

}