thead {
  background-color: silver;
  font-size: small;
  font-style: normal;
}

tbody {
  font-size: medium;
  text-align: center;
}

.tddescr {
  font-size: small;
  text-align: left;
}

.regidf2 {
  margin: 0px;
  font-size: xx-small;
  font-style: normal;
  font-weight: bold;
}