$background-color-form-input-bar-code:aqua;

body {
  max-width: 240px; /* Максимальная ширина страницы в пикселах */
  max-height: 320px; /* Максимальная высота страницы в пикселах */
  margin: 0px;
}

h1 {
  margin: 0px;
  font-size: small;
  font-style: normal;
  a {
    font-size: xx-small;
  }
}

h5 {
  margin: 0px;
  font-style: normal;
}

h6 {
  margin: 0px;
  font-size: xx-small;
  font-style: normal;
}


ul.mainmenu {
  margin: 10px;
  padding: 0px;

  li {
    background-color: darkgray;
    margin-top: 3px;
    list-style-type: none;
    //font-size: small;
    //height: 30px;
    //border: 2px solid;

    a {
      text-decoration: none;
      text-align: center;
      color: white;
      font-size: small;
      font-weight: bold;
      display: block;
      padding-top: 10px;
      height: 25px;
      //border: 1px dotted;

    }
  }
}

ul.pagination {
  margin: 8px 10%;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    a {
      text-decoration: none;
      padding: 6px 6px;
      border: 1px solid #ddd;
    }
  }
}

.card {
  margin: 2px;
  border: 1px solid silver;
  a {
    text-decoration: none;
  }
}


/*
.mainmenu li {
  list-style-type: none;
  font-size: small;
}*/

p {
  margin: 0px;
}

thead {
  background-color: silver;
  font-size: small;
  font-style: normal;
}

tbody {
  font-size: medium;
  text-align: center;
}

.tddescr {
  font-size: small;
  text-align: left;
}

.container {
  margin: 5px;
  border: 1px solid;
}

.barcode {
  font-size: small;
  margin: 0px;
}

#formInputBarCode {
  /* background-color: $background-color-form-input-bar-code; */
  margin: 1px;
}
